@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #474747;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff4f1;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}

.nav a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.main-nav {
  text-align: right;
  font-size: 1rem;
  /*border-bottom: 1px solid #474747;*/
}

.main-nav li {
  padding: 0 1%;
}

.main-header {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 2%;
  margin-left: 2%;
}

.logo-large {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-left: 87%;
  margin-right: auto;
  width: 200px;
}
